.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1rem;
}

.btn {
  width: 45px;
  height: 35px;
  line-height: 35px;
  margin: 15px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.accept {
  background-color: rgb(172, 185, 225);
}
.reject {
  background-color: rgb(227, 134, 134);
}
